body
{
    text-align: center;
}

#app {
    background-color: aliceblue ;
}

#myCarousel
{
    background-color: rgb(61, 201, 201);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
